SIMULATE_WAIT_IN_MS = 0

IMAGE_UPLOAD_MAX_SIZE = 92160
IMAGE_UPLOAD_DIR =
IMAGE_SERVER_URL = 

#Use file src/utils/generated-hashed-pass.ts to generate your secret key
JWT_SECRET_KEY=
LOGIN_EXPIRATION_SECONDS=
LOGIN_EXPIRATION_STRING=

LOGIN_COOKIE_NAME=

#/admin/login
LOGIN_USER=
#Use file src/utils/generated-hashed-pass.ts to generate your password hash
LOGIN_PASSWORD=

ALLOW_LOGIN=1